<a href="https://colab.research.google.com/github/bartdob/ML/blob/master/Keras_reg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hello Bart :P
2.4.0

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import drive 
drive.mount('/content/gdrive')
df = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Keras Reg/california_housing_sklearn.csv')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [4]:
df.head()

   MedInc  HouseAge  AveRooms  ...  Latitude  Longitude  SalePrice
0  8.3252      41.0  6.984127  ...     37.88    -122.23      4.526
1  8.3014      21.0  6.238137  ...     37.86    -122.22      3.585
2  7.2574      52.0  8.288136  ...     37.85    -122.24      3.521
3  5.6431      52.0  5.817352  ...     37.85    -122.25      3.413
4  3.8462      52.0  6.281853  ...     37.85    -122.25      3.422

[5 rows x 9 columns]